{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true
  },
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "project": "./tsconfig.json"
  },
  "rules": {},
  "overrides": [],
  "ignorePatterns": [
    "**/dist/*.js"
  ]
}